.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
protocols/size_measurements_files/*
protocols/size_measurements.html
protocols/water_changes.html
*.css
*.woff
*.js
nutrient_calculator/calculator_app.R
nutrient_calculator/rsconnect/documents/calculator_app.R/shinyapps.io/matthew-sasaki/nutrient_calculator.dcf
*.html
*.afdesign
term_reports/*.pdf
*.psd
